rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /scores/{docId} {
      allow read: if true;
      allow create, update: if
        request.resource.data.keys().hasAll(['username','mode','region','correct','total','accuracy','seconds'])
        && request.resource.data.username is string
        && request.resource.data.username.size() > 0
        && request.resource.data.username.size() <= 20
        && request.resource.data.mode in ['locate','name','flags']
        && request.resource.data.region in ['all','Northeast','Midwest','South','West']
        && request.resource.data.correct is int
        && request.resource.data.total is int
        && request.resource.data.correct <= request.resource.data.total
        && request.resource.data.seconds is int
        && request.resource.data.seconds > 0;
      allow delete: if false;
    }
  }
}
